.Search-box {
    width: 500px;
    height: max-content;
    flex-shrink: 0;
    border-radius: 15px;
    background:  #FFFCFC;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -1px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    margin-right: 50px;
}
.top-tab{
    display: flex;
}
.Search-box .selected-div{
    display: flex;
    margin:10px;
    border-radius: 30px;
    background: #E7E7E7;
    padding: 2px 7px 2px 7px;
}
.Search-box .unselected-div{
    display: flex;
    margin:10px;
    padding: 2px 7px 2px 7px;
}
.Search-box .ticker{
    margin: 8px 5px 5px;
    width: 15px;
    height: 15px;
}
.Search-box .selected-tab{
    color: #000;
    font-family: Apple, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:0px;
    margin-top:6px;
}
.Search-box .unselected-tab{
    color: #6A6A6A;
    font-family: Apple, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:0px;
    margin-top:6px;
}
.Search-box #datepick{
    margin:20px;
}
.Search-box .from-to{
    color: #D30450;
    font-family: Gabriola, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.Search-box .inputdiv{
    margin-top:20px;
}
.Search-box .title{
    color: #000;
    font-family: "Kristen ITC";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin:5px;
    padding: 10px;
    text-align: center;
}
.Search-box .button{
    text-align: center;
    margin: 10px;
}
.Search-box .showRoute{
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin:3%;
    width:90%;
    height:fit-content;
    border-radius: 10px;
    padding: 10px;
    background: #FFEFF4;
    align-items: center;
    font-weight: 500;
}
