.Search-box {
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    background:  #FFFCFC;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -1px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 5%;
    margin-right: 5%;
}
.top-tab{
    display: flex;
}
.Search-box .selected-div{
    display: flex;
    margin:10px;
    border-radius: 30px;
    background: #E7E7E7;
    padding: 2px 7px 2px 7px;
}
.Search-box .unselected-div{
    display: flex;
    margin:10px;
    padding: 2px 7px 2px 7px;
}
.Search-box .ticker{
    display: flex;
    margin: 8px 5px 5px;
    width: 15px;
    height: 15px;
}
.Search-box .selected-tab{
    display: flex;
    color: #000;
    font-family: Apple, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:0px;
    margin-top:6px;
}
.Search-box .unselected-tab{
    display: flex;
    color: #6A6A6A;
    font-family: Apple, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:0px;
    margin-top:6px;
}
.Search-box #datepick{
    display: flex;
    margin:20px;
}
.Search-box .from-to{
    color: #D30450;
    font-family: Gabriola, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.Search-box .inputdiv{
    margin-top:20px;
}

.Search-box .button{
    margin-top:20px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: #D30450;
    color: #fff;
    font-family: Gabriola, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}