.background{
  background-image: url("res/img/background.png")
}
.svg {
  font-size: 13px;
  width: 1500px;
  position: absolute;
  transform: translateX(-600px) translateY(-300px);
  left: 1200px;
  top:170px;
}

